data/

# Python
__pycache__/
*.pyc
*.pyd
.venv/
.env
build/
dist/
*.egg-info/
htmlcov/
.mypy_cache/
.pytest_cache/
base/vit_cifar10.pth

# CUDA / Build Artifacts
*.so
*.o
*.cu.o
*.nsys-rep
*.sqlite

# Analysis files
*.AnalysisSummary.html
*.DiagnosticsSummary.htmlbase/vit_cifar10.pth
